# Carpetas de Compilación
bin/
obj/

# Configuraciones de Rider e IDEs
.idea/
*.user
*.suo

# Ignorar el archivo de credenciales real en cualquier subcarpeta
# Archivos de configuración locales con credenciales secretas
**/Config/*.json
appsettings.Development.json


# PERO permitir explícitamente que se suba el archivo de plantilla .example
!**/Config/*.json.example